@inherits LayoutComponentBase

<MudThemeProvider IsDarkMode=true />
<MudDialogProvider />
<MudSnackbarProvider />

<MudLayout>

    <MudAppBar Color="Color.Dark" Dense="false" Elevation="10">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudImage Fluid="true" Src="logoSig.png" Alt="SG" Elevation="0" Width="40" />


        <MudSpacer />
       
    </MudAppBar>

    <MudDrawer Elevation="10" Width="200px" Class="pt-3" Style="background-color:#08080a" @bind-Open="@_drawerOpen" ClipMode="DrawerClipMode.Always">
        <NavMenu  />
    </MudDrawer>
    <MudMainContent>

        <div class="p-5">@Body</div>

    </MudMainContent>

</MudLayout>
@code {
    bool _drawerOpen = true;


    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
  
}